.MikeMeter {
    font-family: Roboto, sans-serif !important;
    padding: 20px;
}

.MikeMeter h1 {
    font-family: "Electrolize", "sans-serif";
    color: #a1ecfb;
    text-shadow: 0 0 4px rgba(161,236,251,0.65);
}

.Title {
    font-family: "Electrolize", "sans-serif";
    color: #a1ecfb;
    text-shadow: 0 0 4px rgba(161,236,251,0.65);
    display: inline;
    cursor: pointer;
    margin-right: 15px;
}

.Title:hover {
    color: yellow;
}

.Link {
    display: inline;
    cursor: pointer;
    margin-right: 10px !important;
}

.Link:hover {
    color: yellow;
}

.Plot {
    color: #26dafd;
    background: black;
    border: 1px solid #26dafd;
    box-shadow: 0 0 4px rgba(161,236,251,0.65);
}

.Calendar {
    width: auto !important;
    margin: 0;
    background: yellow !important;
    border: 1px solid #26dafd !important;
    box-shadow: 0 0 4px rgba(161,236,251,0.65);
}

.Calendar .react-calendar {
    background: yellow;
}

.Calendar .react-calendar__viewContainer {
    background: black;
}

.Calendar .react-calendar__month-view__weekdays__weekday abbr {
    color: yellow;
    text-decoration: none !important;
}

.Calendar .react-calendar__month-view__days__day {
    color: white;
}

.Calendar .react-calendar__month-view__days__day:hover {
    color: black;
}
.Calendar .react-calendar__month-view__days__day:disabled {
    color: grey;
}

.Calendar .react-calendar__century-view__decades__decade {
    color: white;
}

.Calendar .react-calendar__century-view__decades__decade:hover {
    color: black;
}

.Calendar .react-calendar__century-view__decades__decade:disabled {
    color: grey;
}

.Calendar .react-calendar__decade-view__years__year {
    color: white;
}

.Calendar .react-calendar__decade-view__years__year:hover {
    color: black;
}

.Calendar .react-calendar__decade-view__years__year:disabled {
    color: grey;
}

.Calendar .react-calendar__year-view__months__month {
    color: white;
}

.Calendar .react-calendar__year-view__months__month:hover {
    color: black;
}

.Calendar .react-calendar__year-view__months__month:disabled {
    color: grey;
}


input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}